{% load ikr_tags %}

<header>
    <div class="bg">&nbsp;</div>
    <!--<div class="share">
        <span>Share to:</span>
        <div class="ext">
            <a class="twitter" href="#">Twitter</a>
        </div>
    </div>
    {% if owner == user %}
    <div class="move2album">
        <span>Move to album:</span>
        <div class="ext">
            {% album_list owner cur_album %}
        </div>
    </div>
    {% endif %}
    -->
    <div class="right">
        <!--<a class="del" href="#">delete</a>-->
        <a class="x" href="#">close</a>
    </div>
</header>