<section class="upload">
    <h3>upload</h3>
    <form class="uploadimg" action="/api/img/upload/" method="POST" 
          enctype="multipart/form-data">
        <input id="filefield_to_init" name="img" type="file" 
               multiple="multiple" required="true" accept="image/*" />
        <span class="or">-- or --</span>
        <ul>
        <li>drag images from computer and drop on this page</li>
        <li><a class="grub_douban_album" href="#">grub douban album</a></li>
        </ul>
        <input name="success_uri" type="hidden" value="{{ request.path }}" /> 
        {% if album %}
        <input name="album_id" type="hidden" value="{{ album.id }}" />
        {% endif %}
        <button type="submit">upload</button>
        {% csrf_token %}
    </form>
</section>

<script>
(function($){
    ikr.upload.config({
        SELECT_FILE_BTN_TXT: 'Select local images'
    });
    
    ikr.upload.enhanceform($('#filefield_to_init').removeAttr('id'));
    ikr.upload.init_dnd();
})(jQuery);
</script>
