<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="zh_cn" />
    <title>Ikran</title>
    
    <!--<base href="/w/" />-->
    
    <link rel="stylesheet" type="text/css" href="/s/common/c/blueprint-1.0.1/reset.css" />
    <link rel="stylesheet" type="text/css" href="/s/common/c/blueprint-1.0.1/typography.css" />
    <link rel="stylesheet" type="text/css" href="/s/webapp/c/common.css" />
</head>

<body class="pg-500">
    <header>
        <a class="logo" href="/">Ikran</a>
        <div class="c"></div>
    </header>
    
    <section class="bd">        
        <div class="c"></div>
        <div class="errmsg">
            <h1>something went wrong inside ikran</h1>
            <p>Report had sent to the nightwatch.</p>
            <img height="400px" src="http://httpcats.herokuapp.com/500" alt="something went wrong inside ikran" />
        </div>
        <div class="c"></div>
    </section>
    
    <div class="c"></div>
    <footer>
        <a href="/under_construction/">why ikran</a> |
        <a href="https://plus.google.com/101080974312491458888" target="_blank">about snow</a> |
        <a href="https://github.com/snow/ikran" target="_blank">source</a>
    </footer>
</body>
</html>