{% extends 'webapp/base_imgls.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block page_class %}pg-album{% endblock %}

{% block list_title %}{{ object.title }}{% endblock %}

{% load ikr_tags %}

{% block left %}
    {% include 'webapp/com/left/albumls.html' with user=request.user cur_album=object %}
{% endblock %}

{% block extra_imgls_script %}
<script>ikr.imgls.album_id= '{{ object.id }}'</script>
{% endblock %}

{% block darkbox_hd %}
    {% include 'webapp/com/darkbox_hd.html' with user=request.user cur_album=object %}
{% endblock %}


{% block bodyend %}
<script>
(function($){
    ikr.upload.config({
        ALBUM_ID: '{{ object.id }}'
    });
})(jQuery);
</script>
{% endblock %}
