{% extends 'webapp/base.html' %}
{% block page_class %}image list{% endblock %}

{% load ikr_tags %}

{% block layout_bd %}
    {% block left %}
    {% include 'webapp/com/left/albumls.html' with user=request.user cur_album=False %}
    {% endblock %}
    {% block main %}
<section class="sec-main">
    <h2>{% block list_title %}{% endblock %}</h2>
    <div class="imgls">
        {% for img in object_list %}
        <figure class="imgctn" imgid="{{ img.id }}"
                uri_f = "{{ img.uri_f }}" uri_ts = "{{ img.uri_ts }}">
            <div class="wrap">
                <img src="{{ img.uri_s }}" alt="{{ img.get_title }}" 
                     width="{{ img.width_s }}" height="{{ img.height_s }}"/>
                <a class="view" href="#"></a>
            </div>        
            <figcaption>
                <h5 class="title">{{ img.get_title }}</h5>
                <p class="desc">{{ img.get_desc_body }}</p>
            </figcaption>
        </figure>
        {% empty %}
        <p class="empty">Drag images onto this page</p>
        {% endfor %}
        <figure class="imgctn tpl">
            <div class="wrap">
                <img />
                <a class="view" href="#"></a>
                <div class="mask"></div>
            </div>
            <figcaption>
                <h5 class="title"></h5>
                <p class="desc"></p>
                <span class="status"></span>
                <span class="meta tpl"></span>
            </figcaption>
        </figure>
    </div>
    <div class="c"></div>
</section>
    {% endblock %}

    {% block right %}
<section class="sec-right">
    {% include 'webapp/com/right/upload_form.html' %}
    <section class="help">
        <h3>help</h3>
        <h4>viewing image <em>(aka. darkbox)</em></h4>            
        <ul>
        <li><strong>esc</strong>: exit darkbox</li>
        <li><strong>a</strong> / <strong>h</strong> / <strong>left</strong>: prev image</li>
        <li><strong>d</strong> / <strong>l</strong> / <strong>right</strong>: next image</li>
        <li><strong>click on blank</strong>: toggle header and footer</li>
        </ul>
    </section>
    
    {% include 'webapp/com/right/feedback.html' %}
</section>    
    {% endblock %}
{% endblock %}

{% block layout_extra %}
<div class="darkbox">
    <!--<div class="mask"></div>-->
    {% block darkbox_hd %}{% endblock %}
    
    <div class="bd">
        <img src="" alt=""/>
        <a class="prev" href="#"></a>
        <a class="next" href="#"></a>
    </div>
    
    <footer>
        <div class="thumbs">
            <div class="thumb tpl">
                <img imgid="" src="" alt="" width="72px" height="72px"/>
                <div class="mask"></div>
            </div>
        </div>
    </footer>
</div>

<div class="actionbar batch">
    <div class="stat">
        <span><strong class="count">0</strong> / {{ object_list|length }}</span>
    </div>
    <div class="sp"><span>|</span></div>
    <div class="select">
        <a class="clear" href="#">clear</a>
        <div class="ext">
            <a class="all" href="#">all</a>
            <a class="inverse" href="#">inverse</a>
        </div>
        <!---->
    </div>
    <div class="share">
        <span>Share</span>
        <div class="ext">
            <a class="twitter" href="#">Twitter</a>
        </div>
    </div>
    <div class="move2album">
        <span>Album</span>
        <div class="ext">
            {% album_list request.user %}
        </div>
    </div>
    <div class="right">
        <a class="del" href="#">delete</a>
    </div>
</div>
{% endblock %}
