{% extends 'webapp/base.html' %}
{% block page_class %}image list{% endblock %}

{% load ikr_tags %}

{% block layout_bd %}
    {% block left %}
    {% include 'webapp/com/left/albumls.html' with user=request.user cur_album=False %}
    {% endblock %}
    {% block main %}
<section class="sec-main">
    <h2>{% block list_title %}{% endblock %}</h2>
    <div class="imgls">
        {% if object_list|length %}
        {% include 'webapp/com/plain_imgls.html' %}
        {% else %}
        <p class="empty">Drag images onto this page</p>
        {% endif %}
        <figure class="imgctn tpl">
            <div class="wrap">
                <img />
                <a class="view" href="#"></a>
                <div class="mask"></div>
            </div>
            <figcaption>
                <h5 class="title"></h5>
                <p class="desc"></p>
                <span class="status"></span>
                <span class="meta tpl"></span>
            </figcaption>
        </figure>
    </div>
    <div class="c"></div>
</section>
    {% endblock %}

    {% block right %}
<section class="sec-right">
    {% include 'webapp/com/right/upload_form.html' %}
    <section class="help">
        <h3>help</h3>
        <h4>viewing image <em>(aka. darkbox)</em></h4>            
        <ul>
        <li><strong>esc</strong>: exit darkbox</li>
        <li><strong>a</strong> / <strong>h</strong> / <strong>left</strong>: prev image</li>
        <li><strong>d</strong> / <strong>l</strong> / <strong>right</strong>: next image</li>
        <li><strong>click on blank</strong>: toggle header and footer</li>
        </ul>
    </section>
    
    {% include 'webapp/com/right/feedback.html' %}
</section>    
    {% endblock %}
{% endblock %}

{% block layout_extra %}
<div class="darkbox">
    <!--<div class="mask"></div>-->
    {% block darkbox_hd %}{% endblock %}
    
    <div class="bd">
        <img src="" alt=""/>
        <a class="prev" href="#"></a>
        <a class="next" href="#"></a>
    </div>
    
    <footer>
        <div class="thumbs">
            <div class="thumb tpl">
                <img imgid="" src="/s/common/i/loading-31.gif" alt="" width="72px" height="72px"/>
                <div class="mask"></div>
            </div>
        </div>
    </footer>
</div>

<div class="actionbar batch">
    <div class="stat blk">Selection:&nbsp;<strong class="count">0</strong> / {{ object_list|length }}</div>
    <div class="sp">-</div>
    <div class="select">
        <a class="clear blk" href="#">clear</a>
        <div class="ext">
            <a class="all blk" href="#">all</a>
            <a class="inverse blk" href="#">inverse</a>
        </div>
    </div>
    <div class="sp">|</div>
    <div class="share">
        <span class="blk">Share to</span>
        <div class="ext">
            <span class="blk">coming soon</span>
            <!--<a class="twitter blk" href="#">Twitter</a>-->
        </div>
    </div>
    <div class="sp">-</div>
    <div class="move2album">
        <span class="blk">Move to album</span>
        <div class="ext">
            <span class="blk">coming soon</span>
            <!--<a class="create_album" href="#">+ Create Album</a>
            {% album_list user %}-->
        </div>
    </div>
    <div class="sp">-</div>
    <a class="del blk" href="#">delete</a>
</div>
{% endblock %}
