{% extends 'webapp/base.html' %}
{% block page_class %}image list{% endblock %}

{% block layout_bd %}
<section class="main">
    <h2>{{ username }}'s stream</h2>
    <div class="imgls">
    {% for img in object_list %}
    <figure class="imgctn" imgid="{{ img.id }}"
            uri_m = "{{ img.uri_m }}" uri_ts = "{{ img.uri_ts }}">
        <div class="wrap">
            <img src="{{ img.uri_s }}" alt="{{ img.get_title }}" 
                 width="{{ img.width_s }}" height="{{ img.height_s }}"/>
            <a class="view" href="#"></a>
        </div>        
        <figcaption>
            <h5 class="title">{{ img.get_title }}</h5>
            <p class="desc">{{ img.get_desc_body }}</p>
        </figcaption>
    </figure>
    {% endfor %}
    <figure class="imgctn tpl">
        <div class="wrap">
            <img />
            <a class="view" href="#"></a>
            <div class="mask"></div>
        </div>
        <figcaption>
            <h5 class="title"></h5>
            <p class="desc"></p>
            <span class="status"></span>
            <span class="meta tpl"></span>
        </figcaption>
    </figure>
    </div>
    <div class="c"></div>
</section>

<section class="right">
    {% include 'webapp/com/upload_form.html' %}
</section>

<div class="darkbox">
    <!--<div class="mask"></div>-->
    <!--<header></header>-->
    <div class="bd">
        <img src="" alt=""/>
        <a class="prev" href="#"></a>
        <a class="next" href="#"></a>
    </div>
    <footer>
        <div class="thumbs">
            <div class="thumb tpl">
                <img imgid="" src="" alt="" />
                <div class="mask"></div>
            </div>
        </div>
    </footer>
</div>

<!--<script>
(function($){
    ikr.darkbox.show($('.imgctn:first'));
})(jQuery);
</script>-->
{% endblock %}