{% extends 'webapp/base.html' %}

{% block logo %}<h1>Ikran</h1>{% endblock %}
{% block page_class %}index{% endblock %}

{% block layout_hd %}{% endblock %}

{% block layout_bd %}
<section class="main">
    <article class="introikr">
        <h1>Ikran</h1>
        <p>Your image collection</p>
    </article>
</section>

<section class="right">
    <h3>Signup</h3>
    <strong>No! I have enough accounts! No more!</strong>
    <ul class="singinwith">
        <li><a class="google" href="/thirdparty/google/authenticate/">with Google</a></li>
        <li><a class="twitter" href="/thirdparty/twitter/authenticate/">with Twitter</a></li>
        <li><a class="douban" href="/thirdparty/douban/authenticate/">with Douban</a></li>
    </ul>
</section>
{% endblock %}