{% extends 'webapp/base_imgls.html' %}
{% block title %}{{ owner }}'s stream{% endblock %}
{% block page_class %}image list{% endblock %}

{% block list_title %}{{ owner }}'s stream{% endblock %}

{% block left %}
    {% include 'webapp/com/left/albumls.html' with cur_album=False %}
{% endblock %}

{% block extra_imgls_script %}
<script>ikr.imgls.owner_name= '{{ owner }}'</script>
{% endblock %}

{% block darkbox_hd %}
    {% include 'webapp/com/darkbox_hd.html' with cur_album=False %}
{% endblock %}
