@CHARSET "UTF-8";
/*
 * utils
 * ----------------
 */
.c {clear:both}
/*
 * components
 * ----------------
/*
 * header
 */
body>header {padding:0 10px; margin-bottom:10px; border-bottom:1px dashed #666; 
               color:#666}
    /* position & size */
    body>header .logo,
    body>header nav,
        body>header nav a {float:left}
    body>header .curuser {float:right}
    
    body>header .logo,
    body>header nav a {display:block; height:2em; line-height:2em;
                         font-size:1.5em}
                         
    body>header .logo {padding:0 10px}
    
    body>header nav {margin-left:10px; padding-left:10px}
        body>header nav a {padding:0 10px}
    
        
    body>header .curuser span,
    body>header .curuser a {display:inline-block; height:2.5em; 
                              line-height:2.5em; font-size:1.2em}   
                               
    body>header .curuser span {margin-right:5px}
    
    body>header .curuser a {display:none; padding:0 5px}
        body>header .curuser:hover a {display:inline-block}
    
    /* style */
    body>header a {text-decoration:none}    
        body>header a:hover {background:#eee}
    
    body>header nav {border-left:1px solid #eee}
    
/*
 * body
 */
/* layout */
body>.main {float:left; padding:0 350px 20px 20px}
body>.right {position:fixed; right:0; width:310px; overflow-x:hidden}

/*
 * right sidebar
 */
body>.right h3 {margin-top:0.5em; color:#666}
body>.right h3:before {content:'> '; color:#999}

/*
 * forms
 */
.qq-upload-spinner {width:16px; height:16px; background:url(/s/common/i/loading-16.gif)}
/*.dropzone {margin:10px 10px 20px 0; padding:10px; height:100px; 
           border:4px dashed #ccc; color:#ccc; font-size:2em; text-align:center}
    .dropzone.on {border-color:#666}
    .dropzone .dropmsg {color:#666}
    
    .dropzone.on .dragmsg,
    .dropzone.ing .dragmsg,
    .dropzone.done .dragmsg {display:none}
    .dropzone:not(.on) .dropmsg {display:none}
    .dropzone:not(.ing) .ingmsg {display:none}
    .dropzone:not(.done) .donemsg {display:none}*/
    
    
/*
 * page specifics
 * ----------------
 */
/*
 * index
 */
/*
 * image list
 */
figure {float:left; display:inline; min-height:230px; margin:0 10px}
figcaption {color:#999} 
