@CHARSET "UTF-8";
/*
 * utils
 * ----------------
 */
.c {clear:both}
.tpl {display:none}
html, body {height:100%}
body {overflow-y:scroll}
#rcp-preimg {display:none}
/*
 * components
 * ----------------
 */
h3 {margin-bottom:0.5em}
/*
 * header
 */
body>header {position:relative; padding:0 10px; 
             border-bottom:1px dashed #666; color:#666}
    /* position & size */
    body>header .logo,
    body>header nav,
        body>header nav a {float:left}
    body>header .curuser {float:right}
    
    body>header .logo,
    body>header nav a {display:block; height:2em; line-height:2em;
                         font-size:1.5em}
                         
    body>header .logo {padding:0 10px}
    
    body>header nav {margin-left:10px; padding-left:10px}
        body>header nav a {padding:0 10px}
        
    body>header .curuser span,
    body>header .curuser a {display:inline-block; height:2.5em; 
                              line-height:2.5em; font-size:1.2em}   
                               
    body>header .curuser span {margin-right:5px}
    
    body>header .curuser a {display:none; padding:0 5px}
        body>header .curuser:hover a {display:inline-block}
    
    /* style */
    body>header a {text-decoration:none}    
        body>header a:hover {background:#eee}
    
    body>header nav {border-left:1px solid #eee}
/*
 * footer
 */
body>footer {position:relative; padding:5px 10px; margin-top:-29px;
             border-top:1px dashed #666; text-align:right; color:#666; 
             background:#fff; z-index:1}
     body>footer a {margin:0 5px}
/*
 * body
 */
/* layout */
body>.bd {min-height:100%}
header+.bd {margin-top:-37px}

.bd>.sec-main {float:left; padding:10px 330px 0 20px; }
.bd>.sec-right {position:fixed; top:37px; right:0; padding-right:10px; width:300px; 
                 overflow-x:hidden}
                 
.bd>.c:last-child {height:80px; width:100%}                 

/*
 * right sidebar
 */
.sec-right h3 {margin:0.5em 0; color:#666; font-size:1.8em}
.sec-right h3:before {content:'> '; color:#999}

.sec-right h4 {margin-bottom:0.5em}

.sec-right>section {margin-bottom:30px}
/*
 * signin
 */
.sec-right .signin {font-size:1.5em}
    .sec-right .signin h3 {font-size:1.5em}
    .sec-right .noopenid, 
    .sec-right .noopenid a {color:#999}
/*
 * upload
 */
.sec-right>.upload .selectfile,
.sec-right>.upload p {font-size:1.8em; margin-bottom:5px}
.sec-right>.upload p {color:#666}

.sec-right>.upload .selectfile {text-decoration:none}
.sec-right>.upload .wrap [name=img] {position:absolute; opacity:0}
.sec-right>.upload .wrap:hover .selectfile {text-decoration:underline}

body>.dropzone {position:fixed; top:0; left:0; width:100%; height:100%; 
                cursor:pointer}
body>.dropzone .inr {position:absolute; top:0; 
                     padding:100px; border:10px dashed #999; color:#333;
                     font-size:6em; vertical-align:middle; text-align:center} 
body>.dropzone .bg {width:100%; height:100%; background:#fff; opacity:0.6}
/*
 * page specifics
 * ----------------
 */
/*
 * under construction
 */
.pg-under_construction .sec-main {float:none; padding:100px 0 50px; text-align:center}
.pg-under_construction .sec-main a {font-size:2em}
/*
 * index
 */
.pg-index .bd>.bg {position:fixed; top:0; left:0; width:100%; height:100%; 
               background:#000}
.pg-index .bd>.bg img {float:left; margin:2px 0 0 2px}

.pg-index .bd>.wrap {position:relative; margin:0 auto; width:830px; height:100%; 
                 z-index:1}
    .pg-index .bd>.wrap .bg {position:absolute; top:0; left:0; width:100%; 
                         height:100%; background:#fff; opacity:0.85}
    .pg-index .bd>.wrap .content {position:relative; padding:10px 20px 100px; z-index:2}
    
    .pg-index .sec-main {position:relative; float:left; width:500px; font-size:1.5em}
    .pg-index .right {position:fixed; margin-left:530px; width:300px}
    
    .introikr {margin-top:20px}
    .introikr h1 {font-size:3em}
    .introikr .slogun {margin-bottom:1em; font-size:1.5em}
    
    .pg-index .sec-main h3 {font-size:1.2em}
/*
 * image list
 */
.imgctn {float:left; display:inline; margin:0 10px; max-width:180px; 
            min-height:230px; text-align:center}
    .imgctn .wrap {position:relative; display:inline-block}
        .imgctn img {max-width:180px; max-height:180px}
        .imgctn .mask {position:absolute; display:none; top:0; left:0; width:100%; 
                          height:100%; background:#000; opacity:0.8}
            .imgctn.ing .mask,
            .imgctn.queue .mask,
            .imgctn.err .mask {display:block}
            
            .imgctn .view {position:absolute; display:none; right:5px; top:5px; 
                           width:40px; height:40px; opacity:0.6;
                           background:#fff url('/s/common/i/view-40.png')}
                .imgctn:hover .view {display:block}
                .imgctn .view:hover {opacity:0.8}
                
            .imgctn .retry {display:block; width:100%; height:100%; 
                                     font-size:2em; text-align:center}

    .imgctn figcaption {color:#999}        
        .imgctn .title,
        .imgctn .desc,
        .imgctn .size,
        .imgctn .status {overflow:hidden}
        .imgctn .title {height:1.5em; line-height:1.5em; margin:0}
        .imgctn .file_id {display:none}
        .imgctn p {margin:0}
        .imgctn.ing .status {padding-left:18px; 
            background:url('/s/common/i/loading-16.gif') no-repeat center left}        
        .imgctn.err .status {padding-left:18px; 
            background:url('/s/common/i/alert-16.png') no-repeat center left}
            
    .imgls .empty {font-size:xx-large; color:#999}

.darkbox {display:none; position:fixed; top:0; left:0; width:100%; height:100%;
          background:#000; text-align:center; z-index:3}
          
    .darkbox header {position:fixed; width:100%; height:20px; 
                     border-bottom:2px dashed #666}
    
    .darkbox .bd {display:table-cell; vertical-align:middle}
    .darkbox .prev,
    .darkbox .next {position:fixed; display:table-cell; top:0;
                    width:30%; height:100%; vertical-align:middle; color:#666; 
                    opacity:0; background:no-repeat center center}
        .darkbox .prev:hover,
        .darkbox .next:hover {opacity:1}
        .darkbox .prev {left:0; background-image:url('/s/common/i/arrow-l-45_93.png')}
        .darkbox .next {right:0; background-image:url('/s/common/i/arrow-r-45_93.png')}
    
    .darkbox footer {position:fixed; left:0; bottom:0; width:100%; height:78px; 
                     overflow:hidden}
        .darkbox .thumbs {position:relative}
        .darkbox .thumb {position:relative; display:inline-block; padding:2px; 
                         margin-right:-2px;z-index;2; cursor:pointer}
            .darkbox .thumb img {border:1px solid transparent}
            .darkbox .thumb .mask {position:absolute; top:0; left:0; width:100%; 
                                   height:100%; background:#000; opacity:0.7}
            
            .darkbox .thumb.on {padding:1px; border:1px solid #000; background:#fff}
            .darkbox .thumb.on img {border:1px solid #000}
            .darkbox .thumb.on .mask {display:none}
